@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.header {
  @apply text-2xl md:text-4xl lg:text-6xl text-center font-montserrat mb-4 font-semibold;
}

.subheader {
  @apply text-xl md:text-2xl lg:text-4xl text-center font-montserrat mb-20 font-medium;
}

.buttonMain {
  @apply w-56 py-2 bg-sky-700 text-white rounded text-xl flex justify-center align-middle;
}
